.tooltip {
  display: block;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #1b292c;
  font-size: 13px;
  position: absolute;
  padding: 5px 8px;
}
.tooltip-top {
  -webkit-animation: tooltip-top 0.2s ease forwards;
  -moz-animation: tooltip-top 0.2s ease forwards;
  -o-animation: tooltip-top 0.2s ease forwards;
  -ms-animation: tooltip-top 0.2s ease forwards;
  animation: tooltip-top 0.2s ease forwards;
}
.tooltip-top:after {
  width: 0px;
  height: 0px;
  display: block;
  margin: 5px auto -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1b292c;
  content: '';
}
.tooltip-bottom {
  -webkit-animation: tooltip-bottom 0.2s ease forwards;
  -moz-animation: tooltip-bottom 0.2s ease forwards;
  -o-animation: tooltip-bottom 0.2s ease forwards;
  -ms-animation: tooltip-bottom 0.2s ease forwards;
  animation: tooltip-bottom 0.2s ease forwards;
}
.tooltip-bottom:before {
  width: 0px;
  height: 0px;
  display: block;
  margin: -10px auto 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1b292c;
  content: '';
}
.tooltip-right {
  -webkit-animation: tooltip-right 0.2s ease forwards;
  -moz-animation: tooltip-right 0.2s ease forwards;
  -o-animation: tooltip-right 0.2s ease forwards;
  -ms-animation: tooltip-right 0.2s ease forwards;
  animation: tooltip-right 0.2s ease forwards;
}
.tooltip-right:before {
  width: 0px;
  height: 0px;
  display: inline-block;
  margin: 4px 8px 0 -13px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #1b292c;
  content: '';
}
.tooltip-left {
  -webkit-animation: tooltip-left 0.2s ease forwards;
  -moz-animation: tooltip-left 0.2s ease forwards;
  -o-animation: tooltip-left 0.2s ease forwards;
  -ms-animation: tooltip-left 0.2s ease forwards;
  animation: tooltip-left 0.2s ease forwards;
}
.tooltip-left:after {
  width: 0px;
  height: 0px;
  display: inline-block;
  margin: 4px -13px 0 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #1b292c;
  content: '';
}
@-moz-keyframes tooltip-top {
  0% {
    margin-top: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tooltip-top {
  0% {
    margin-top: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tooltip-top {
  0% {
    margin-top: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes tooltip-top {
  0% {
    margin-top: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tooltip-top {
  0% {
    margin-top: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes tooltip-right {
  0% {
    margin-left: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tooltip-right {
  0% {
    margin-left: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tooltip-right {
  0% {
    margin-left: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes tooltip-right {
  0% {
    margin-left: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tooltip-right {
  0% {
    margin-left: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes tooltip-left {
  0% {
    margin-left: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tooltip-left {
  0% {
    margin-left: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tooltip-left {
  0% {
    margin-left: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes tooltip-left {
  0% {
    margin-left: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tooltip-left {
  0% {
    margin-left: -35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-left: -10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes tooltip-bottom {
  0% {
    margin-top: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tooltip-bottom {
  0% {
    margin-top: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tooltip-bottom {
  0% {
    margin-top: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes tooltip-bottom {
  0% {
    margin-top: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tooltip-bottom {
  0% {
    margin-top: 35px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  50% {
    margin-top: 20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  100% {
    margin-top: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}